<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:property-placeholder location="classpath:application.properties" />
    <context:component-scan base-package="com.codingsquid.spring4Tutorial" />

    <bean id="studentRepositoryImpl" class="com.codingsquid.spring4Tutorial.dao.StudentRepositoryImpl">
        <constructor-arg ref="sqlSession" />
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${spring.database.class}" />
        <property name="url" value="${spring.database.host}" />
        <property name="username" value="${spring.database.username}" />
        <property name="password" value="${spring.database.password}" />
        <property name="initialSize" value="5" />
        <property name="maxActive" value="50" />
        <property name="maxIdle" value="50" />
        <property name="minIdle" value="20" />
        <property name="maxWait" value="2000" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mapperLocations" value="classpath*:database/**" />
        <property name="typeAliases">
            <list>
                <value>
                    com.codingsquid.spring4Tutorial.rest_controller.command.StudentCommand
                </value>
            </list>
        </property>
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory" />
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="student" class="com.codingsquid.spring4Tutorial.model.Student">
        <property name="name" value="codingsquid" />
        <property name="age" value="25" />
        <property name="id" value="2" />
        <property name="identifier_num" value="20132287" />
    </bean>
</beans>